{% extends "framework.html"  %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="index-wrap">
    <div class="index-banner-wrap">
        <div class="index-banner-inner">
            <div class="index-banner-action">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search!</button>
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
